
.novo-produto {
    padding: 20px 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-produto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: #D3CE3D 3px solid;
    background-color: #FFF;
    max-width: 450px;
    align-self: center;
}

.container-produto  h1 {
    align-self: center;
}

.container-produto input {
    padding         : 10px;
    width           : 350px;
    border          : solid 1px #cecece;
    border-radius   : 10px;
    background-color: #FFEEAD;
    font-size       : 14px;
    color           : #000;
    margin          : 10px 0px;
    cursor          : pointer;
    height          : 40px;
}
.adiciona-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px 15px;
}
